<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="parkhomov.andrew.lensthicknesscalculator"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/setBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GlossaryActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activities.AboutDialogActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog">
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.SetLanguageActivity"
            android:label="@string/language"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog">
    </activity>

        <activity
            android:name=".activities.GlossaryListActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.RateAppActivity"
            android:label="@string/rate_dialog_title"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeDialog">
        </activity>

        <activity
            android:name=".activities.ThicknessResultActivity"
            android:theme="@style/AppThemeNoTitleBarAndDialog"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.GetLanguageActivity">
        </activity>

    </application>
</manifest>