<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="parkhomov.andrew.lensthicknesscalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:windowSoftInputMode="stateVisible|adjustPan" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GlossaryActivity" />

        <activity
            android:name=".activities.AboutDialogActivity"
            android:theme="@style/AppThemeDialog"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:noHistory="true">
        </activity>

        <activity
            android:name=".activities.LanguageActivity"
            android:label="@string/language"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>

        <activity android:name=".fragments.GlossaryListFragment">
        </activity>

        <activity android:name=".activities.HelpFeedbackActivity">
        </activity>

        <activity android:name=".activities.RateAppActivity">
        </activity>

        <activity android:name=".activities.HelpTheProjectActivity"
            android:label="@string/title_help_the_project">
        </activity>

    </application>

</manifest>